@import url(https://fonts.googleapis.com/css?family=Koulen);
@import url(https://fonts.googleapis.com/css?family=Kreon);
body{
    background-color: #ffffff;
    padding: 0%;
    margin: 0%;
    color: #000;
}

.name{
    display: flex; align-items: center; justify-content: center;
    font-family: 'Koulen';
}

.links{
    display: flex; align-items: center; justify-content:space-between;
    font-family: 'Kreon';
    font-size: 20px;
    padding: 0 25px;
}

.links a{
    text-decoration: none;
    color: #000;
}

.intro{
    display: flex; align-items: center; justify-content: space-between;
    font-family: 'Kreon';
    font-size: 20px;
    padding: 0 25px;
}

.about_me{
    display: flex; flex-direction: column;
    font-family: 'Kreon';
    font-size: 20px;
    padding: 0 25px;
}

.about_me_link{
    display: flex;flex-direction: column; align-items: center;  position: absolute; bottom: 30px; width: 100%;
    font-family: 'Kreon'; font-size: 20px;
}

.about_me_link a{
    text-decoration: none;
    color: #000;
}

.projects{
    font-family: 'Kreon';
    font-size: 20px;
    padding: 0 25px;
}

.contact_me_info{
    font-family: 'Kreon';
    padding: 0 25px;
}

.img_link{
    display: flex; align-items: center; justify-content:space-around;
}

.img_link p{
    font-family: 'Kreon';
}

.end{
    display: flex; align-items: center; justify-content: center; position: absolute; bottom: 30px; width: 100%; margin-right: 25px;
    font-family: 'Kreon';
    font-size: 20px;
}

    